@import './variables.css';

 .light {
    --color-bg-first: #500202;
    --color-bg-header: #500202;
    --color-bg-section: white;
    --color-bg-article: #fff0f0;
    --color-article-shadow: #ff5f5f;
    --color-bg-second: #ff5f5f;
    --color-base-text-title: #fff0f0;
    --color-base-text: #500202;
    --color-base-text-article: #500202;
    --opacity:0.8;
    --color-button:#ffc3c3;
  }
  
  .dark {
    --color-bg-first: #500202;
    --color-bg-header: #500202;
    --color-bg-section: #500202;
    --color-bg-article: #8c1010;
    --color-article-shadow: #ffc3c3;
    --color-bg-second: #aa0a0a;
    --color-base-text-title: #fff0f0;
    --color-base-text: #fff0f0;
    --color-base-text-article: #fff0f0;
    --opacity:0.9;
    --color-button:#fff0f0;
  }

.formatHeader{
    background-color: var(--color-bg-header);
    color: var(--color-base-text-title);
}

.formatFirst{
    background-color: var(--color-bg-first);
    color: var(--color-base-text-title);
}

.formatArticle{
    background-color: var(--color-bg-article);
    color: var(--color-base-text-article);
}

.formatSection{
    background-color: var(--color-bg-section);
    color: var(--color-base-text);
}

.contrastStyle {
  background-color: var(--color-button);
  opacity: var(--opacity);
}

a {
  color: var(--color-base-text-title);
  font-size: 1.5rem;
}

a:hover {
  color: var(--color-for-gadgets-1);
  opacity: 0.6;
}