/*  choose later - blue
.light {
    --color-bg-first: #f3f7f8;
    --color-bg-header: #6f92a1;
    --color-bg-section: #f3f7f8;
    --color-bg-article: #e1e9ec;
    --color-article-shadow: #6f92a1;
    --color-bg-second: #6f92a1;
    --color-base-text-title: #333e46;
    --color-base-text: #394751;
    --color-base-text-article: #333e46;
  }
  
  .dark {
    --color-bg-first: #517382;
    --color-bg-header: #517382;
    --color-bg-section: #517382;
    --color-bg-article: #394751;
    --color-article-shadow: #e1e9ec;
    --color-bg-second: #517382;
    --color-base-text-title: #f3f7f8;
    --color-base-text: #f3f7f8;
    --color-base-text-article: #f3f7f8;
  }
 */ 

 .light {
    --color-bg-first: #500202;
    --color-bg-header: #500202;
    --color-bg-section: white;
    --color-bg-article: #ffc3c3;
    --color-article-shadow: #ff5f5f;
    --color-bg-second: #ff5f5f;
    --color-base-text-title: #fff0f0;
    --color-base-text: #500202;
    --color-base-text-article: #500202;
    --opacity:0.8;
    --color-button:#ffc3c3;
  }
  
  .dark {
    --color-bg-first: #500202;
    --color-bg-header: #500202;
    --color-bg-section: #500202;
    --color-bg-article: #8c1010;
    --color-article-shadow: #ffc3c3;
    --color-bg-second: #aa0a0a;
    --color-base-text-title: #fff0f0;
    --color-base-text: #fff0f0;
    --color-base-text-article: #fff0f0;
    --opacity:0.5;
    --color-button:#fff0f0;
  }

.formatHeader{
    background-color: var(--color-bg-header);
    color: var(--color-base-text-title);
}

.formatFirst{
    background-color: var(--color-bg-first);
    color: var(--color-base-text-title);
}

.formatArticle{
    background-color: var(--color-bg-article);
    color: var(--color-base-text-article);
}

.formatSection{
    background-color: var(--color-bg-section);
    color: var(--color-base-text);
}


.contrastStyle {
  background-color: var(--color-button);
  opacity: var(--opacity);
}

a {
  color: var(--color-base-text-title);
  font-size: 1.5rem;
}